@import 'constants';

.expired {
  color: #e00;
}

.icon-link {
  padding: 8px 8px;
}

.update-field-container {
  margin: ($paragraph-margin / 2) 0;
}

.update-field-form {
  padding: 16px 32px 16px 32px;
}

#message {
  display: block;
  padding: 8px 16px;
  background-color: #eee;
  font-style: italic;
  font-size: 0.9em;
  font-weight: 400;
  color: #666;

  &:hover {
    color: $anchor-color-hover;
    background-color: #ddd;
  }
}