@import 'constants';

#current-message {
  padding: 8px 16px;
  background-color: #eee;
  font-style: italic;
  font-size: 0.9em;
  font-weight: 400;
  color: #666;
  @include border-radius(2px);
}

.expired {
  color: #e00;
}

.icon-link {
  padding: 8px 8px;
}

#account {
  a {
    font-weight: 400;
  }
}

.update-field-container {
  @include border-radius(2px);
}

.update-field-form {
  padding: 16px 32px 16px 32px;
}